.login {
  margin-top: 100px;
  padding: 56px;
  margin-left: 15px;
}

.login .img-responsive {
  margin: 0 auto 30px;
}

.login .forget {
  color: #999;
}

.login .forget-link {
  cursor: pointer;
}

@media (max-width: 767px) {
  .login {
    margin-top: 15px;
    padding: 16px;
  }
  .login .forget-info {
    position: absolute;
    top: 25%;
    left: 10px;
    right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
}

@media (min-width: 768px) {
  .login .img-responsive {
    width: 60% \9;
    max-width: 60%;
  }
}

.caret.active {
  border-left: 4px dashed;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.no-border {
  border: none !important;
}

.fly-in {
  -webkit-animation: fly-in 0.8s ease;
  -moz-animation: fly-in 0.8s ease;
  -o-animation: fly-in 0.8s ease;
  animation: fly-in 0.8s ease;
}

@-webkit-keyframes fly-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-moz-keyframes fly-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fly-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.shake {
  -webkit-animation: shake 0.2s ease 2;
  -moz-animation: shake 0.2s ease 2;
  -o-animation: shake 0.2s ease 2;
  animation: shake 0.2s ease 2;
}

@-webkit-keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}

.ico-groups {
  position: relative;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-groups .ico {
  display: inline-block;
  position: absolute;
  margin: 10px;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

.ico-groups .ico-label {
  display: inline-block;
  position: absolute;
  margin: 13px;
  width: 70px;
  height: 20px;
  vertical-align: text-bottom;
}

.ico-groups .ico-text {
  height: 40px;
  padding-left: 42px;
  padding-top: 7px;
  padding-bottom: 9px;
}

.ico-groups .first-ico-text {
  height: 40px;
  padding-left: 90px;
  padding-top: 7px;
  padding-bottom: 9px;
}

.ico-user {
  background: url(/common/img/man.png) center center no-repeat;
}

.ico-password {
  background: url(/common/img/key.png) center center no-repeat;
}

@media (min-width: 767px) {
  .box-shadow {
    width: 410px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 0 12px #bbb;
  }
}

.login .form-control {
  width: 100%;
}

.placeholder-content .placeholder-text {
  padding-left: 42px;
  width: 100%;
  top: -9px;
}

#firstLogin .placeholder-content .placeholder-text {
  line-height: 35px;
  top: -5px;
}

#firstLoginFootNotice {
  font-size: 85%;
}

#first_login_message label {
  margin-bottom: 0px;
}

p {
  margin: 0px;
}
