.self-select-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
    height:32px;
    font-size: 14px;
}
  

.refresh-icon {
    position: absolute;
    top: 0;
    right: 40px;
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(/common/img/refresh.png) center no-repeat;
}
.refreshing {
    cursor: initial;
    background: url(/common/img/refreshing.gif) center no-repeat;
}

.self-select-wrapper .self-select-display{
    display: inline-block;
    cursor: pointer;
    width:80%;
    height:34px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    background: -moz-linear-gradient(top, #fff, #eee);
    background: -o-linear-gradient(top,#fff, #eee);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#eeeeee);
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
  
.self-select-display .self-select-text{
    display: inline-block;
    width: 90%;
    padding-left:10px;
    line-height: 34px;
    white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
  
.self-select-display .self-select-arrow-down{
    height:0;
    width:0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
    border-color:#aaa transparent transparent transparent;
    border-style:solid dashed dashed dashed;
    border-width:7px;
	
	float:right;
	margin: 12px 5px 0 0;
}
  
.self-select-wrapper .self-select-ul{
    position: absolute;
    max-height:190px;
    _height:190px;
    border: 1px solid #ccc;
    background-color: #fff;
    top:31px;
    left:0px;
    overflow-y: auto;
    _overflow-y:auto !important;
    padding:0px;
    margin:0px;
    width: 80%;
    z-index:2014;
    display: none;
}
  
.self-select-wrapper .self-select-ul li{
    list-style: none;
	position:relative;

    height: 30px;
    line-height: 30px;
    cursor: pointer;
    display: block;
    padding-left:10px;
	padding-right:10px;
    text-decoration: none;
    color:#000;
}
  
.self-select-wrapper .self-select-option:hover{
    background-color: #D82228;
	color: #ffffff;
}

.self-select-ul .self-select-data {
	display:inline-block;	
    width: 90%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.signal {
	position: absolute;
    right: 0;
	background:url(/common/img/wifi_strength.png) 0 no-repeat;
	width: 20px;
	height: 20px;
}

.signal_4 {
	background-position: 0 7px;		
}

.signal_3 {
	background-position: -20px 7px;		
}

.signal_2 {
	background-position: -40px 7px;		
}

.signal_1 {
	background-position: -60px 7px;		
}

